<h1>Editing Discussion</h1>

<% # render 'form', discussion: @discussion %>

<h2 class="text-center">編輯</h2>
<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for @discussion, :url => post_discussion_path do |f| %>
    <div class="form-group">
      <%= f.input :content, input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>





<% #link_to 'Show', @discussion %> 
<%= link_to 'Back', post_path(@discussion.post) %>
