<h1>討論板  <%= @group.name %></h1>
<a href="<%= publicgroups_path %>">返回</a>
</br>
<table class="table">
  <% @posts.each do |post| %> 
  <tr>
  <td><%= post.title%></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <tr>
  <% end %>
</table>
