<table class="table">

    <% @groups.each do |group| %>
      <tr>
      <td><a href="<%= publicgroup_path(group) %>"><%= group.name %></a></td>
      <td><%= group.describe %></td>
      <td><%= group.user.email %></td>
      </tr>
    <% end %>
  





</table>
